<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
  <div class="w-100">
    <h1 class="mb-5">Education</h1>
    <hr>
    <h2 class="mb-5">Institutes</h2>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">University of Kelaniya</h3>
        <div class="subheading mb-3">Bachelor of Science Honours in Software Engineering</div>
        <div>Data Science, Web Development and Mobile Development Track</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">February 2019 - February 2023</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Institute of Java and Software Engineering </h3>
        <div class="subheading mb-3">CMJD Certificate course</div>
        <div>Java SE, Hibernate, My SQL Databases, Java FX</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">February 2018 - September 2018</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Institute of Java and Software Engineering </h3>
        <div class="subheading mb-3">ABSD Certificate course</div>
        <div>Java EE, Hibernate, My SQL Databases, HTML, CSS, JavaScript, TypeScript, Spring, Spring Boot, Angular</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2018 - December 2018</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0">C.W.W. Kannangara Central College MAthugama</h3>
        <div class="subheading mb-3">Physical Science Stream</div>
        <div>Combined Mathematics, Physics, ICT</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">August 2015 - August 2017</span>
      </div>
    </div>
  </div>
</section>
<hr style="height: 10px">
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="examination">
  <div class="w-100">
    <h2 class="mb-5">Examinations</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">G.C.E Advanced Level Examination</h3>
        <div class="subheading mb-3">Physical Science Stream</div>
        <div>Combined Mathematics - A</div>
        <div>Physics - B</div>
        <div>Information and Communication Technology  - B</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">August 2017</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">G.C.E Ordinary Level Examination</h3>
<!--        <div class="subheading mb-3">Physical Science Stream</div>-->
        <div>Mathematics - A</div>
        <div>Science - A</div>
        <div>Sinhala - A</div>
        <div>History - A</div>
        <div>English - B</div>
        <div>Buddhism - A</div>
        <div>Art - A</div>
        <div>Commerce - A</div>
        <div>Information and Communication Technology  - A</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">December 2014</span>
      </div>
    </div>

  </div>
</section>
