<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
  <div class="w-100">
    <h1 class="mb-5">Skills & Strength</h1>
    <hr>
    <h2 class="mb-5">Sports</h2>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Hockey Player</h3>
        <div class="subheading mb-3">Player of the University Hockey Team</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">February 2019 - February 2023</span>
      </div>
    </div>
    <hr>
    <h2 class="mb-5">Leadership</h2>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Treasure Of IEEE Branch of University of Kelaniya</h3>
        <div class="subheading mb-3">I was appointed as the treasure for IEEE SB in my University for 2020 - 2021 year</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">February 2020 - February 2021</span>
      </div>
    </div>
    <h2 class="mb-5">Team Activities</h2>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Member of IEEE SB University of Kelaniya</h3>
        <div class="subheading mb-3">I joined as a member for IEEE SB in My University</div>
        <h4>Activities</h4>
        <div>IEEE Sports Day 2019</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">February 2019 to now</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Member of Software Engineering Students' Association in University of Kelaniya</h3>
        <div class="subheading mb-3">I joined as a member for Software Engineering Students' Association in University of Kelaniya</div>
        <h4>Activities</h4>
        <div>RealHack 2.0</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">February 2019 to now</span>
      </div>
    </div>



  </div>
</section>
