<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">
    <h1 class="mb-0">Ravindu
      <span class="text-primary">Gunarathna</span>
    </h1>
    <div class="subheading mb-5">"Hill House",Mathugama Rd, Kotapitiya, Dhargatown·
      <a href="ravindugunarathna@gmail.com">ravindugunarathna@gmail.com</a><br>
      0763471118
    </div>
    <p class="lead mb-5">I am a Software Engineering Undergraduate of<a href="https://www.kln.ac.lk/"> University of Kelaniya Sri Lanka</a>. I am currently
      studying in <a href="https://science.kln.ac.lk/tunits/setu/">Software Engineering Teaching Unit</a> at University of Kelaniya Sri Lanka. It is a Sri Lankas first
    Software Engineering Degree programme is conducting at a government university. Also I am a passionate software developer, Self learner.
    Knowledge Seeker. </p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/ravindu-danthika-30a771181/" class="icn">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/RavinduDON" class="icn">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://stackoverflow.com/users/9386256/ravindu-danthika-gunarathna?tab=profile" class="icn">
        <i class="fab fa-stack-overflow"></i>
      </a>
      <a href="https://www.facebook.com/ravindudanthikag/" class="icn">
        <i class="fab fa-facebook-f" ></i>
      </a>
      <a href="https://ravindugunarathna.medium.com/" class="icn">
        <i class="fab fa-medium"></i>
      </a>

    </div>
  </div>
</section>
