<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
  <div class="w-100">
    <h1 class="mb-5">Projects</h1>
    <hr>
    <h2 class="mb-5">Completed Projects</h2>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Student Registration System For NAITA-Colombo</h3>
        <h4>Used Languages & Technologies</h4>
        <div class="subheading mb-3">Java, JavaFX, My SQL, Hibernate</div>
        <div>This is a student registration and management system</div>
      </div>
      <div class="resume-date text-md-right">
        <a href="https://github.com/RavinduDON/NAITA_ContractUpdate.git"><span class="gitico">GitHub<i class="fab fa-github gitico"></i></span></a>
        <br>
        <span class="text-primary">September 2019</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">University Management System</h3>
        <h4>Used Languages & Technologies</h4>
        <div class="subheading mb-3">Java, Java SWING, My SQL</div>
        <div>This is a sample university Management System. This is my first year project</div>
      </div>
      <div class="resume-date text-md-right">
        <a href="https://github.com/RavinduDON/UniversityManagementSystem.git"><span class="gitico">GitHub<i class="fab fa-github gitico"></i></span></a>
        <br>
        <span class="text-primary">January 2020</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Travel Web</h3>
        <h4>Used Languages & Technologies</h4>
        <div class="subheading mb-3">HTML, CSS, Java Script</div>
        <div>This is a sample travel guide website for a assignment</div>
      </div>
      <div class="resume-date text-md-right">
        <a href="https://github.com/RavinduDON/TravelWeb1.0.git"><span class="gitico">GitHub<i class="fab fa-github gitico"></i></span></a>
        <br>
        <span class="text-primary">February 2020</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Covid-19 Reporter App</h3>
        <h4>Used Languages & Technologies</h4>
        <div class="subheading mb-3">Java - Android, XML</div>
        <div>This is a app for report Covid-19 Updates and Statistics</div>
      </div>
      <div class="resume-date text-md-right">
        <a href="https://github.com/RavinduDON/CovidApp1.0.git"><span class="gitico">GitHub<i class="fab fa-github gitico"></i></span></a>
        <br>
        <span class="text-primary">March 2020</span>
      </div>
    </div>
    <hr>
    <h2 class="mb-5">Ongoing Projects</h2>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Freelancing and Job Placement Platform</h3>
        <h4>Used Languages & Technologies</h4>
        <div class="subheading mb-3">Java EE, Spring Boot, Hibernate, My SQL, Angular</div>
        <div>This is a freelancing and Job Placement platform for local users.</div>
      </div>
      <div class="resume-date text-md-right">
        <a href="#"><span class="gitico">GitHub<i class="fab fa-github gitico"></i></span></a>
        <br>
        <span class="text-primary">March 2020 to Now</span>
      </div>
    </div>


  </div>
</section>
