<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
  <div class="w-100">
    <h2 class="mb-5">Technologies</h2>
    <br>
    <h3>Web Technologies</h3>
    <div class="subheading mb-3">Frontend Technologies</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <i class="fab fa-html5"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-css3-alt"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-js-square"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-angular"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-node-js"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-bootstrap"></i>
      </li>

    </ul>
    <div class="subheading mb-3">Backend Technologies</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <i class="fab fa-java"></i>
      </li>
      <li class="list-inline-item">
        <img src="https://img.icons8.com/color/48/000000/spring-logo.png"/>
      </li>
      <li class="list-inline-item">
        <img src="../../../assets/icons/hib.png" alt="" style="width: 50px;height: 50px">
      </li>
      <li class="list-inline-item">
        <img src="https://img.icons8.com/ios/50/000000/mysql-logo.png"/>
      </li>
    </ul>
    <h3>Mobile Technologies</h3>
    <div class="subheading mb-3">Android</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <i class="fab fa-android"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-java"></i>
      </li>
    </ul>
    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        Mobile-First, Responsive Design</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Cross Browser Testing &amp; Debugging</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Cross Functional Teams</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Agile Development &amp; Scrum</li>
    </ul>
  </div>
</section>
